<div class="about">
  <p class="text">{{ "about.first-paragraph" | translate }}</p>

  <p class="text">{{ "about.second-paragraph" | translate }}</p>

  <p class="text">{{ "about.third-paragraph" | translate }}</p>

  <p class="text">{{ "about.fourth-paragraph" | translate }}</p>

  <div class="social-media">
    <a style="cursor: pointer" href="https://www.instagram.com/ale_cigolini/" target="_blank"><i class="fa fa-instagram" style="font-size:30px;color:gray"></i></a>
    <a style="cursor: pointer" href="https://www.linkedin.com/in/alessandrocigolini/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:30px;color:gray"></i></a>
    <a style="cursor: pointer" href="https://github.com/AleCigolini" target="_blank"><i class="fa fa-github" style="font-size:30px;color:gray"></i></a>
  </div>
</div>
