<div class="main-app">
  <div class="header">
    <div class="title">
      <h1 [routerLink]="'/about'">{{ "hello" | translate }}</h1>
    </div>

    <div class="menu">
      <h4 [routerLink]="'/about'"  [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}">{{ "tabs.about" | translate }}</h4>
      <h4 [routerLink]="'/job'" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}">{{ "tabs.work" | translate }}</h4>
      <h4 [routerLink]="'/resume'" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}">{{ "tabs.resume" | translate }}</h4>
    </div>
  </div>

  <div class="router-image">
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="isDesktopView" class="image-container">
      <img
        alt="Imagem de perfil"
        src="https://media.licdn.com/dms/image/D4D03AQHWYHLqCWZv8g/profile-displayphoto-shrink_800_800/0/1679321411399?e=2147483647&v=beta&t=grEWvAJdnzn2rQxKp93eCA8Hah7h0m3uad2EkA8-HZo"
      >
    </div>
  </div>
</div>
