<div class="job-content">
  <div class="timeline">
    <div class="container right">
      <div class="content">
        <h2>{{ "intermediate-systems-analyst.period-job" | translate }}</h2>
        <p class="job-title">{{ "intermediate-systems-analyst.title" | translate }}</p>
        <i>{{ "publicacoes-online-company" | translate }}</i>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>{{ "intermediate-software-developer-three.period-job" | translate }}</h2>
        <p class="job-title">{{ "intermediate-software-developer-three.title" | translate }}</p>
        <i>{{ "publicacoes-online-company" | translate }}</i>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>{{ "intermediate-software-developer-one.period-job" | translate }}</h2>
        <p class="job-title">{{ "intermediate-software-developer-one.title" | translate }}</p>
        <i>{{ "publicacoes-online-company" | translate }}</i>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>{{ "systems-support-attendant.period-job" | translate }}</h2>
        <p class="job-title">{{ "systems-support-attendant.title" | translate }}</p>
        <i>{{ "unimed-company" | translate }}</i>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>{{ "computer-systems-technician.period-job" | translate }}</h2>
        <p class="job-title">{{ "computer-systems-technician.title" | translate }}</p>
        <i>{{ "ciamed-company" | translate }}</i>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>{{ "internship-computer-systems-technician.period-job" | translate }}</h2>
        <p class="job-title">{{ "internship-computer-systems-technician.title" | translate }}</p>
        <i>{{ "ciamed-company" | translate }}</i>
      </div>
    </div>
  </div>
</div>
