<div class="resume">
  <div>
    <p class="title">{{ "resume.first-paragraph" | translate }}</p>
    <p class="items">
      <a *ngIf="isPtLanguage" style="color: green" href="https://drive.google.com/file/d/1tHGCF1iqZGmKN1jrmbdNXZo1_-qHFZTC/view?usp=sharing" target="_blank">
        Currículo
      </a>
    </p>
    <p class="items">
      <a *ngIf="!isPtLanguage" style="color: chocolate" href="https://drive.google.com/file/d/1rd5cCjchA9bV-ZsxOcG_HsvrYOP5wZDc/view?usp=sharing" target="_blank">
        Resumé file
      </a>
    </p>
  </div>
  <div>
    <p class="title">{{ "resume.complementary-education" | translate }}</p>
    <p class="items">
      <a style="color: green" href="https://drive.google.com/file/d/1gz08wZuk_RCmuEcUgLufjVSMKVRwON9S/view?usp=sharing" target="_blank">
        Alura
      </a>
    </p>
  </div>
</div>
